<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Employee directory</title>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

<div class="container">
	<h3>Employee Directory</h3>
	<hr>
	
	<a th:href="@{/employees/showFormForAdd}" class="btn btn-primary btn-sm mb-3">Add Employee</a>
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<th>FirstName</th>
			<th>LastName</th>
			<th>Email</th>
			<th>Actions</th>
		</thead>
		<tbody>
			<tr th:each="employee : ${employees}">
				<td th:text="${employee.firstName}" />
				<td th:text="${employee.lastName}" />
				<td th:text="${employee.email}" />
				<td>
					<a th:href="@{/employees/showFormForUpdate/(employeeId=${employee.id})}"
					class="btn btn-info btn-sm">
						Update
					</a>
					<a th:href="@{/employees/delete/(employeeId=${employee.id})}"
					class="btn btn-danger btn-sm"
					onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false;">
						Delete
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
	
</body>
</html>