<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Thymeleaf demo</title>
	<link rel="stylesheet" th:href="@{/css/demo.css}" />
</head>

<body>
	<p th:text="'Time on the server is ' + ${date}" class="funny"/>
</body>
</html>